<div class="card-header bg-primary text-white">
    Listado de Tips
</div>

<div class="card-body">
    <section class="container row" style="width: auto; margin: auto auto;">
        <article class="col-md-6">
            <table class="table table-bordered table-hover table-condensed">
                <thead class="thead-dark">
                    <tr class="text-center bg-success">
                        <th> Hora</th>
                        <th> Dealer Tip  </th>
                        <th> Acciones </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                     {% if dealerTips is empty %}
                     <tr>
                         <td colspan="9"> sin registros </td>
                    </tr>
                    {% endif %}
                    {% set totalDealerTip = 0 %}
                    {% for dealerTip in dealerTips %}
                    <tr class="text-center">
                        <td> {{ dealerTip.hour.date|date('H:i') }} </td>
                        <td> {{ dealerTip.dealerTip|number_format(2, ',', '.') }} </td>
                        <td> <a href="#" onclick="updateDealerTip({{ dealerTip.idSession }}, {{ dealerTip.id }});"> <i class="fas fa-pencil-alt"> </i> </a> <a href="#" onclick="deleteDealerTip({{ dealerTip.idSession }}, {{ dealerTip.id }});"> <i class="fas fa-trash-alt"></i> </a></td>
                    </tr>
                    {% set totalDealerTip = totalDealerTip + dealerTip.dealerTip %}
                    {% endfor %}
                    <tr class="text-center bg-dark text-white">
                        <th> TOTAL </th>
                        <th> {{ totalDealerTip|number_format(2, ',', '.') }} </th>
                        <th> </th>
                    </tr>
                </tbody>
            </table>
        </article>
        <aside class="col-md-6">
            <table class="table table-bordered table-hover table-condensed">
                <thead class="thead-dark">
                    <tr class="text-center bg-success">
                        <th> Hora</th>
                        <th> Service Tip </th>
                        <th> Acciones </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% if serviceTips is empty %}
                    <tr>
                        <td colspan="9"> sin registros </td>
                    </tr>
                    {% endif %}
                    {% set totalServiceTip = 0 %}
                    {% for serviceTip in serviceTips %}
                    <tr>
                        <td> {{ serviceTip.hour.date|date('H:i') }} </td>
                        <td> {{ serviceTip.serviceTip|number_format(2, ',', '.') }} </td>
                        <td> <a href="#" onclick="updateServiceTip({{ serviceTip.idSession }}, {{ serviceTip.id }});"> <i class="fas fa-pencil-alt"> </i> </a> <a href="#" onclick="deleteServiceTip({{ serviceTip.idSession }}, {{ serviceTip.id }});"> <i class="fas fa-trash-alt"></i> </a></td>
                    </tr>
                    {% set totalServiceTip = totalServiceTip + serviceTip.serviceTip %}
                    {% endfor %}
                    <tr class="text-center bg-dark text-white">
                        <th> TOTAL </th>
                        <th> {{ totalServiceTip|number_format(2, ',', '.') }} </th>
                        <th> </th>
                    </tr>
                </tbody>
            </table>
        </aside>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <td colspan="8">
                    <a href="#" onclick="addTips({{ idSession }})" class="btn btn-lg btn-block btn-danger"> <i class="fas fa-plus"></i></a>
                </td>
            </thead>
        </table>
    </section>
</div>