<div class="card-header bg-primary text-white">
    Listado de Usuarios Activos
</div>

<div class="card-body">
    <section class="container row" style="width: auto; margin: auto auto;">
        <article class="col-md-12">
            <table class="table table-bordered table-hover table-condensed">
                <thead class="text-center bg-dark text-white">
                    <th> Jugador </th>
                    <th> Hora <br>de inicio </th>
                    <th> Efectivo </th>
                    <th> Credito </th>
                    <th> Total </th>
                    <th> Acciones </th>
                </thead>
                <tbody class="text-center">
                    {% for user in usersSession %}
                    {% if user.endTime is empty %}
                    <tr class="text-center">
                        <td>
                            {{ user.user.name }} {{ user.user.lastname }}
                        </td>
                        <td> {% if not user.startTime is null %} 
                                {{ user.startTime.date|date('H:i') }}
                             {% endif %}
                        </td>
                        <td> {{ user.TotalCash|number_format(2, ',', '.') }} </td>
                        <td> {{ user.TotalCredit|number_format(2, ',', '.') }} </td>
                        <td> {{ user.cashin|number_format(2, ',', '.') }} </td>
                        <td> <a class="{% if user.cashin == 0 %} button-disabled {% endif %}" href="#" onclick="closeUserSession(this, {{ user.idSession }}, {{ user.id }}); return false;"> 
                             <i class="fas fa-sign-out-alt"></i> </a> 
                             <a class="{% if user.cashin == 0 %} button-disabled {% endif %}" href="#" onclick="updateUserSession(this, {{ user.idSession }}, {{ user.id }}); return false;"> <i class="fas fa-pencil-alt"> </i> </a> 
                             <a href="#" onclick="deleteUserSession({{ user.idSession }}, {{ user.id }});"> <i class="fas fa-trash-alt"></i> </a> 
                             </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="9">
                            <a href="#" class="btn btn-lg btn-block btn-danger" onclick="addUserSession({{ idSession }});"> <i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</div>

<div class="card">
    <div class="card-header bg-primary text-white">
        Listado de Usuarios Inactivos
    </div>
    <div class="card-body">
        <section class="container row" style="width: auto; margin: auto auto;">
            <article class="col-md-12">
                <table class="table table-bordered table-hover table-condensed">
                    <thead class="text-center bg-dark text-white">
                        <th> Inactivo </th>
                        <th> Hora <br> de inicio </th>
                        <th> Cashin </th>
                        <th> Cashout </th>
                        <th> Hora <br> de fin </th>
                        <th> acciones </th>
                    </thead>
                    <tbody class="text-center">
                        {# {% include 'withoutRecords.html.twig' %} #}
                        {% for user in usersSession %}
                        {% if user.endTime is not empty %}
                        <tr class="text-center">
                            <td>
                                {{ user.user.name }} {{ user.user.lastname }}
                            </td>
                            <td> {{ user.startTime.date|date('H:i') }} </td>
                            <td> {{ user.cashin|number_format(2, ',', '.') }} </td>
                            <td> {{ user.cashout|number_format(2, ',', '.') }} </td>
                            <td> {{ user.endTime.date|date('H:i') }}
                            </td>
                            <td>  
                                 <a href="#" onclick="updateUserSession(this, {{ user.idSession }}, {{ user.id }});"> <i class="fas fa-pencil-alt"> </i> </a> 
                                 <a href="#" onclick="deleteUserSession({{ user.idSession }}, {{ user.id }});"> <i class="fas fa-trash-alt"></i> </a> 
                            </td>
                        </tr>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    </div>
</div>